# Ignore node_modules in client and server
client/node_modules/
server/node_modules/

# Ignore environment files (if any)
client/.env
server/.env

# Ignore build files
client/build/
server/dist/

# Optional: Ignore log files
*.log

# Optional: Ignore .DS_Store (for Mac users)
.DS_Store
